<div class="row">
  <div class="col-md-4">
      <div class="card">
          <img src="{{product.img}}" class="card-img-top" alt="...">
          <div class="card-body">
                  <h5 class="card-title">{{title}}</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary" (click)="Clickme($event)">Detail</a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card">
          <img src="https://cf.shopee.vn/file/3f2884725c045641ad50c98ab0ca42bb" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Detail</a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card">
          <img src="https://i-shop.vnecdn.net/resize/560/560/images/2018/12/06/5c08f2424535e-1530314483446-82-.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Detail</a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card">
          <img src="https://vn-test-11.slatic.net/original/2dbd60e52589cb9a3f906b4ca0a5bcd7.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Detail</a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card">
          <img src="https://media3.scdn.vn/img2/2017/11_11/giay-dep-2018-1m4G3-LKqFgg_simg_ab1f47_350x350_maxb.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Detail</a>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card">
          <img src="https://i-shop.vnecdn.net/resize/560/560/images/2018/12/06/5c08f2424535e-1530314483446-82-.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Detail</a>
          </div>
      </div>
  </div>
</div>